<mat-nav-list>
    <div class = "logo py-4">
        <!-- <img src = "../../assets/logo.svg" alt = "company Logo"> -->
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class = "mt-2">APPLICATION</h2>
    <a mat-list-item routerLink ="/home" routerLinkActive>
        <mat-icon >home</mat-icon> Home
    </a>
    <a mat-list-item routerLink ="/dashboard" routerLinkActive>
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    
       <div>
           <ul>
               <li>
                <button mat-button [matMenuTriggerFor]="menu"  class = "user mt-2 d-flex align-items-center">Customers</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>User1</button>
                    <button mat-menu-item>USer2</button>
                    <button mat-menu-item>User3</button>
                    <button mat-menu-item>User4</button>
                  </mat-menu>
               </li>
           </ul>
       </div>
    
        
    <div class = "row mr-2 ml-auto">
        <ul>
        <li>
    <button mat-button [matMenuTriggerFor]="menu"  class = "user mt-2 d-flex align-items-center">Order</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>CreateOder</button>
        <button mat-menu-item>CancelOrder</button>
        <button mat-menu-item>ChangeOrder</button>
        <button mat-menu-item>SatusReportOnOrder</button>
      </mat-menu>
    </li>
    </ul>
    
    </div>
    

    
    
    <!-- <a mat-list-item routerLink ="/log-in" routerLinkActive>
        <mat-icon>login</mat-icon> Login
    </a>
    <a mat-list-item routerLink ="/register" routerLinkActive>
        <mat-icon>register</mat-icon> Register
    </a> -->
    <a mat-list-item><mat-icon>edit</mat-icon> edit</a>
</mat-nav-list>
