.logo{
    text-align: center;
    padding:2.6rem 1rem ;
    
}

.mat-icon{
    vertical-align: center;
    margin-right: 1rem;
}

.mat-divider{
    border-top-width: 2px;
    border-color: white;
}


.mat-list-item{
    color: white !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 8px;
    /* background: #2c3344 !important; */
/* #94a3b8 */
}
/* .mat-list-item-content{
    background: #0450f5 ;
} */

.list-item-active{
    color: #f2f3f7 !important;
      background: #2c3344 !important; 
    
  } 

  .mat-subheader{
      color: #818cf8;
      font: size 0.6rem;
      font-weight: 100;
      letter-spacing: 1px;
  }

    