<mat-nav-list>
    <div class = "logo py-4">
        <!-- <img src = "../../assets/logo.svg" alt = "company Logo"> -->
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class = "mt-2">APPLICATION</h2>
    <a mat-list-item routerLink ="/home" routerLinkActive>
        <mat-icon >home</mat-icon> Home
    </a>
    <a mat-list-item routerLink ="/dashboard" routerLinkActive>
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <!-- <a mat-list-item routerLink ="/log-in" routerLinkActive>
        <mat-icon>login</mat-icon> Login
    </a>
    <a mat-list-item routerLink ="/register" routerLinkActive>
        <mat-icon>register</mat-icon> Register
    </a> -->
    <a mat-list-item><mat-icon>edit</mat-icon> edit</a>
</mat-nav-list>
